.ericcenter{text-align:
             center; color: white;
             padding: 60px;
           
}
.aaaa{
    text-align: center;
    padding: 30px 40px;
    background-color: black;
    border-radius: 30px;
    width: 80%;
    margin: 0px auto;
}
#about{
    background-image: url(../img/image.jpg);
}